.card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 1.2rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease;
    width: 25rem;
    height: 19rem;
}

.card:hover {
    transform: translateY(-5px);
}

.image {
    width: 100%;
    height: 13rem;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 15px;
}

.title {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.description {
    font-size: 1em;
    color: #555;
}