.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
    position: relative;
    width: 100%;
    background-color: #fbffff;
    padding-top: 10vh;
    padding-bottom: 10vh;
    gap: 5vh;
}

.button {
    margin: 2rem;
    padding: 1rem;
}