.footer {
    position: relative;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fbffff;
    color: #003366;
    text-align: center;
    padding: 4rem;
}

.brand {
    font-size: 1.8rem;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.contactInfo {
    font-size: 1.2rem;
    line-height: 2;
}

.contactInfo a {
    color: inherit;
}

.icon {
    font-weight: bold;
    margin-right: 0.5rem;
}


.credit {
    font-size: 0.9rem;
    color: #666;
    position: absolute;
    bottom: 0;
}

.credit a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
}

