.cardSection {
    padding: 3rem 1.3rem;
    background-color: #f9f9f9;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1920px;
    margin: 0 auto;
    gap: 2rem;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
}
